$controls: hsl(0, 0%, 10%);
$base: hsl(0, 0%, 5%);
$text: hsl(0, 0%, 100%);

.aplayer-wrapper {
    display: grid;
    grid-template-areas: "artwork controls" "artwork credits";
    grid-template-rows: 4em 16em;
    grid-template-columns: 20em auto;
    font-family: 'Montserrat', 'Helvetica', 'Gotham', sans-serif;
    color: $text;
    background: $base;
    border-radius: 3px;
    overflow: hidden;

    &.playing .controls .play {
        opacity: 0;
    }

    .artwork {
        grid-area: artwork;
        width: 100%;
    }

    .controls {
        grid-area: controls;
        align-items: center;
        display: flex;
        background: $controls;

        button {
            position: relative;
            display: block;
            margin: .5em;
            padding: 0;
            width: 3em;
            height: 3em;
            background: none;
            border: none;
            outline: none;
            cursor: pointer;
        }

        svg {
            fill: $text;
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 3em;
            height: 3em;
            background-color: $controls;
            opacity: 1;
            transition: all .3s ease;
        }

        .text {
            flex: 1;
            margin: .5em .5em .5em 0;
            width: 100%;
            height: auto;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .title,
        .artist {
            display: block;
            margin: .2em;
            text-align: center;
        }

        .title {
            font-weight: 600;
            font-size: 1em;
        }
        
        .artist {
            font-size: .8em;
        }
    }

    .credits {
        grid-area: credits;
        display: block;
        margin: .5em;
        width: calc(100% - 1em);
        height: calc(100% - 1em);
        font-size: .8em;
        border-radius: 3px;
        overflow-y: scroll;
        scrollbar-width: thin;
        scrollbar-color: $text $base;

        &::-webkit-scrollbar {
            width: .4em;
            height: .4em;
        }

        &::-webkit-scrollbar-thumb {
            margin: .4em;
            background-color: $text;
            border-radius: .2em;
        }
        
        &::-webkit-scrollbar-track {
            background-color: $base;
        }
        
        td {
            padding: 0;
            width: 100%;
            white-space: pre;
            padding-bottom: 2em;
            line-height: 150%;
        }
        
        td:last-of-type {
            text-align: right;
            padding-left: .5em;
            padding-right: .5em;
        }

        tr:last-of-type td {
            padding-bottom: 0;
        }
    }
}

@media (max-width: 600px) {
    .aplayer-wrapper {
        grid-template-areas: "artwork" "controls" "credits";
        grid-template-rows: auto 4em auto;
        grid-template-columns: auto;
    }
    .credits {
        td:last-of-type {

            padding-right: 0em;
        }
    }
}

@media (max-width: 350px) {
    .credits {
        display: none;
    }
}